.container-form{
    width: 85%;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container-form{
        width: 40%;
        margin: 0 auto;
    }
}
.boton{
    display: flex;
    justify-content: center;
}